<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
    <link rel="manifest" href="/static/site.webmanifest">
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet"> <!-- Import Leckerli One font -->
    <link rel="stylesheet" href="static/chat.css"> <!-- Подключение CSS файла -->
    <title>AChat</title>
</head>
<body>

    <div class="chat-title" onclick="location.reload();"> <!-- Reload page on click -->
        <span>A</span>
        <span>C</span>
        <span>h</span>
        <span>a</span>
        <span>t</span>
    </div>

    <!-- User Icon -->
    <img src="static/user.png" alt="User Icon" class="user-icon" id="userIcon">

    <!-- Dropdown Menu -->
    <div class="dropdown" id="dropdownMenu">
      <a href="#" id="logoutButton">Выйти</a>
    </div>

    <div class="chat-container">
        <!-- Removed message labels -->
    </div>

    <!-- Input container for message input -->
    <div class="input-container">
        <div class="attach-icon" title="Прикрепить файл" id="attachIcon">
          <img src="static/icons8-mac-folder-100.png" alt="Folder Icon"> <!-- Mac-style folder icon -->
        </div>

        <!-- Hidden file input -->
        <input type="file" id="fileInput" style="display:none;" />

        <input type="text" class="input-field" id="messageInput" placeholder="Введите сообщение..." oninput="toggleSendButton()"/>

        <button class="send-button" id="sendButton">Отправить</button>
    </div>

    <!-- Use CDN for GSAP -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
    <script src="static/chat.js"></script> <!-- Подключение JS файла -->

</body>
</html>